## Code and Output

In [1]:
# print a string
print("Hello World!")

Hello World!

In [2]:
# create variables
x = 3.141
y = -99
z = 'This is a sentence.'
print(x, y, z)

3.141 -99 This is a sentence.

In [3]:
# multiply numbers and display output
x = 365 * 24 * 60 * 60
print(x)

31536000

In [4]:
34 * 89

3026

In [5]:
"""This is
a multi-line
comment"""
print('Hello!')

Hello!

In [6]:
# loop in python
for i in range(5):
    print('This is iteration number %d' %i)

This is iteration number 0
This is iteration number 1
This is iteration number 2
This is iteration number 3
This is iteration number 4

In [7]:
# function in python
def factorial(n):
    if(n == 0 or n == 1):
        return 1
    return n * factorial(n - 1)

factorial(5)

120

### Data Structures in Python

### Lists

In [8]:
fruits = ['apples', 'bananas', 'peaches', 'oranges']
type(fruits)

list

In [9]:
fruits.append('kiwis')
fruits

['apples', 'bananas', 'peaches', 'oranges', 'kiwis']

In [10]:
fruits.remove('bananas')
fruits

['apples', 'peaches', 'oranges', 'kiwis']

In [11]:
fruits[0]

'apples'

### Dictionary

In [12]:
info = {
    'Name' : 'Ruchika',
    'Age' : 20,
    'University' : 'Delhi Technological University',
    ('Subject', 'Marks') : ('Machine Learning', 20) 
}

In [13]:
type(info)

dict

In [14]:
info['Age']

20

In [15]:
info['id'] = 102

In [16]:
info[('Subject', 'Marks')]

('Machine Learning', 20)

In [17]:
'id' in info

True

In [18]:
'Address' in info

False

In [19]:
len(info)

5

### Set

In [20]:
weather = {'Sunny', 'Rainy', 'Windy', 'Rainy', 'Windy', 'Overcast', 'Sunny', 'Sunny'}
weather

{'Overcast', 'Rainy', 'Sunny', 'Windy'}

In [21]:
type(weather)

set

In [22]:
'Sunny' in weather

True

In [23]:
'Cloudy' in weather

False

In [24]:
weather.add('Cloudy')
weather

{'Cloudy', 'Overcast', 'Rainy', 'Sunny', 'Windy'}

In [25]:
weather.remove('Overcast')
weather

{'Cloudy', 'Rainy', 'Sunny', 'Windy'}

In [26]:
len(weather)

4

### Tuples

In [27]:
information = ('Ruchika', 20, (30, 40, 50, 60))

In [28]:
type(information)

tuple

In [29]:
information[2]

(30, 40, 50, 60)

In [30]:
len(information)

3

In [31]:
len(information[2])

4